.past_messages_container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.past_messages_container .curr_user {
  align-self: end;
  background-color: gray;
}

.message {
  background-color: rgb(64, 140, 227);
  border-radius: 7px;
  padding: 5px 10px;
}
